<footer> 
    <div class="container">
    <div class="row">

        <!-- <div class="col-xs-12 col-sm-2 col-md-2 social">
            <a href="#" hidden><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/taxicitycl/" ><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#" hidden><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        </div> -->

        <div class="col-xs-12 col-sm-12 col-md-12">
            <p>Creado por Ramdon Enterprise, todos los derechos reservados.  <i class="fa fa-map-marker" aria-hidden="true"></i> Las Condes, Santiago · Chile - Cerro El Plomo 1234 · <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+123456789">+ (56) 1234 56 7890 </a> </p>            
        </div>

    </div>
    </div>
</footer>