<section id="block-5">  
        
    <div class="container">
        <div class="row">  
            <div class="col-xs-12 col-sm-12 col-md-12"> 
                <div class="texto wow fadeInDown ">
                    <h2>Preguntas más frecuentes (FAQs)</h2>
                    <span>Con las siguientes preguntas pretendemos responder las inquietudes más comunes de los usuarios que surgen a partir del uso de la aplicación. 
                    Para preguntas o inquietudes adicionales puedes dirigirte a la sección de contacto y con gusto aclararemos todas tus dudas.</span> <br>
                </div>
            </div>
        </div>  
    </div>

    <div class="container">
        <div class="row bot"> 
            <div class="col-xs-12 col-sm-offset-6 col-sm-6 col-md-offset-6 col-md-6" > 

                <div class="accordionFaqsContainer wow fadeInRight" #accordionFaqsContainer>
                    <div class="panel-group" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="fa fa-plus-square" aria-hidden="true"></i>¿Cómo puedo obtenerla? </a>
                                </h4>
                            </div>

                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body"> Para obtener la aplicación debes dirigirte a la tienda virtual de tu smartphone (Play Store) y buscar la aplicación TaxiCity, a continuación, deberás instalarla para empezar a utilizar el servicio.</div>
                            </div>
                        </div>

                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="fa fa-plus-square" aria-hidden="true"></i>¿Cómo puedo usarla? </a>
                                </h4>
                            </div>

                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">Para solicitar el servicio a través de la aplicación, inicialmente debes verificar que la dirección que te muestra es la dirección en la que te encuentras. A continuación, debes indicar la dirección de destino a la que deseas llegar. La aplicación te mostrará la ruta a seguir y el valor del servicio de acuerdo al tipo de vehículo que elijas. Si estás de acuerdo con la información presentada, solo debes presionar el botón “Pedir Taxi”. Al cabo de unos segundos, el taxi asignado aparecerá en pantalla con los datos del conductor y el tiempo estimado que le tomará llegar al sitio.  </div>
                            </div>

                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fa fa-plus-square" aria-hidden="true"></i>¿Cómo la actualizo?</a>
                                </h4>
                            </div>

                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">Para actualizar la aplicación debes dirigirte a la tienda virtual de tu smartphone y buscar la aplicación 
                                TaxiCity, luego debes pulsar la opción 'Actualizar'. Si esta opción no aparece será porque cuentas con la última versión de la aplicación.</div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><i class="fa fa-plus-square" aria-hidden="true"></i>¿Cómo puedo obtener ayuda?</a>
                            </h4>
                            </div>

                            <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">Para obtener ayuda puedes dirigirte a la parte inferior de la página donde encontrarás una sección de contacto, o también puedes escribirnos directamente a nuestro email info@taxicity.cl.</div>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div> 
        </div> 
    </div>

</section>