
<div id="Carousel" class="carousel slide" [ngStyle]="{'background': '#fff url(' + img + ') no-repeat center', 'background-size': 'cover'}" >
    
    <div class="carousel-inner">

        <div class="item active wow pulse">
            <h2>Viaja realmente seguro</h2>
            <p>Al contrario de la competencia, viajar en un taxi aprobado y certificado es realmente seguro</p>
        </div>

        <div class="item">
            <h2>Fidelización de usuario</h2>
            <p>Unir lazos entre usuarios y taxistas, creando hábitos de querer y hacer crecer un sistema netamente chileno</p>
        </div>

        <div class="item">
            <h2>Nuestra ciudad</h2>
            <p>Fomentando el cariño hacia nuestro país. En nuestras redes sociales compartiremos los mejores momentos y fotografías de lugares que visitar</p>
        </div>

    </div>

    <a class="left carousel-control" href="#Carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    
    <a class="right carousel-control" href="#Carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>