<section id="block-2" class="container">  
    <div class="row">  
        <div class="col-xs-12 col-sm-6 col-md-6 texto wow fadeInLeft">
            
            <div class="titulo">
                <h2>¿Quienes somos?</h2>
                <p>Primera aplicación de taxis totalmente chilena, que busca adherir a los taxistas certificados y regulados por el Ministro de transporte</p>
            </div>
            
            <div class="icons">
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="pill" href="#home"><i class="fa fa-car" aria-hidden="true"></i></a></li>
                    <li><a data-toggle="pill" href="#menu1"><i class="fa fa-usd" aria-hidden="true"></i></a></li>
                    <li><a data-toggle="pill" href="#menu2"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
                    <li><a data-toggle="pill" href="#menu3"><i class="fa fa-line-chart" aria-hidden="true"></i></a></li>
                </ul>
            
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                            <p>Mostramos a los usuarios los taxis disponibles más cercanos </p>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                            <p>Sabrán el coste del viaje antes de aceptarlo, sin sorpresas </p>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                            <p>Es posible seguir el recorrido en tiempo real </p>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                            <p>Rentabiliza el tiempo de trabajo de forma eficáz y segura </p>
                    </div>
                </div>                
            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 imagen wow fadeInRight">
            <figure>
                <img src="../../assets/img/mockup_celulares.jpg" class="img-responsive" alt="">
            </figure>
        </div>
    </div>
</section> 

