<section id="block-3">  
    <div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6">
            <figure>
                <img src="../../assets/img/mapa_santiago.jpg"  class="img-responsive wow  fadeInLeft" alt="">
            </figure>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">

            <div class="content wow  fadeInRight ">
                <div class="text">
                    <h2>Pronto disponible en todo Chile</h2>
                    <hr>
                    <p>Trabajamos cada día para llegar a más lugares y brindar la mejor experiencia de transporte de la ciudad. Actualmente nos encontramos con fuertes alianzas en Santiago, Las Condes, Providencia, Ñuñoa, Temuco y pronto cerca de ti.</p>
                </div>
                <br>
                <div class="numbers container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="num lateral wow fadeInUp"><span>+60K</span><br><p>Taxistas</p></div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 separator ">
                            <div class="num wow fadeInUp"><span>10</span><p>Prox. Ciudades</p></div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="num lateral wow fadeInUp"><span>3</span><br><p>Plataformas</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>  
</section> 





